@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
	font-family: 'Roboto', arial, sans-serif;
}

.welcome  {
	text-align: center;
	border: 1px solid black;
	background-color: black;
	color: white;
	margin-top: 200px;
	max-width: 100% !important;
}

.welcome p {
	max-width: 100% !important;
}

.welcome * {
	margin: 10px;
}

.underClick {
	text-align: center;
	border: 1px solid black;
	background-color: black;
	color: white;
}

.under:hover, .over:hover {
	color: white;
}

.under, .over {
	background-color: black;
	border: 1px solid white;
	color: white;
}

.under:hover {
	background-color: red;
}

.over:hover{
	background-color: green;
}

html * {
	margin: 0;
}

a:link, a:visited{
	color: black;
}

body {
	background-color: red;
	border: 1px solid black;
}

.hidden {
	display: none;
}

.snooth {
	display: none;
}

.container {
	position: fixed;
	width: 100%;
	border: 1px solid black;
	background-color: black;
	color: white;
}

#searchInput * {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#results {
	position: absolute;
	top: 300px;
	z-index: -1;
}

.resultBorder {
	border: 2px solid darkgrey;
	background-color: white;
	text-align: left;
	padding: 15px;
	min-height: 420px;
}

.wineImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wineName {
	font-size: 18px;
	font-weight: bold;
}

.sort {
	position: fixed;
	text-align: right;
	width: 100%;
	top: 265px;
	color: white;
	background-color: red;
}

.font {
	font-size: 18px;
	color: white;
	margin-left: 20px;
}

@media only screen and (min-width: 640px) {

html { 
  background:  url(https://media.giphy.com/media/3zfox4LvqnIas/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}

body * {
	max-width: 1080px;
	margin: 0 auto;

}

.wineImg{
	width: 100%;
}


.container {
	border: 1px solid black;
	position: fixed;
	height: 100px;
	background-color: black;
	color: white;
}

.logo {
	position: absolute;
	height: 80px;
	top: 10px;
}

.snooth {
	display: inline;
	position: absolute;
	right: 5px;
	top: 35px;
	height: 30px;
}
#searchInput *{
	display: inline;
}
#searchInput {
	position: absolute;
	left: 180px;
	top: 40px;
	font-size: 18px;
	font-weight: bold;
}

.marginLeft {
	margin-left: 20px;
}

.sort {
	position: fixed;
	width: 100%;
	padding: 10px;
	top: 100px;
	border: 1px solid red;
	background-color: red;
}

#results{
	position: absolute;
	top: 160px;
	z-index: -1;
}

}